.ContactList {
  max-height: 130px;
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #a1efef;
}

.ContactItem {
  margin-bottom: 10px;
  padding: 8px;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  /* Розташувати контакти та кнопку delete по обидві сторони */
  align-items: center;
}

.ContactItem p {
  margin: 0;
}

.ContactListContainer {
  margin-top: 20px;
}

.deleteContactButton {
  width: 60px;
  background-color: rgb(253, 253, 255);
  color: #232222;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}